/* Resets */
body, h1, h2, h3, p, ul, li, figure {
	margin: initial;
	padding: 0;
	font-size: inherit;
	font-weight: inherit;
}

ul {
	list-style-type: none;
}

body {
	background-color: black;
}

main {
	background-color: #673399;
}

.txt-hide {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

/* Typography */
:root {
	font-family: 'Montserrat', sans-serif;
/*
font-weight: 500;
font-weight: 700;
*/
}

/* Layouts */
.section-portfolio {
	width: 1080px;
	box-sizing: border-box;
	margin: 0 auto 100px;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.title {
	display: flex;
	align-items: center;
}

.title .txt-start {
	color: white;
	width: 26%;
	font-size: 40px;
	/* flex-shrink: 0; */
}

.highlight {
	display: inline-block;
	/* QUESTION: inline일 때는 왜 안될까.. */
	position: relative;
	z-index: 1;
}

.highlight::before {
	content: '';
	background-color: orangered;	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0.5em;
	z-index: -1;
}

.title .wrapper-before {
	display: flex;
	align-items: center;
	background-color: yellow;
}

.title .wrapper-before::before {
	content: '';
	display: block;
	width: 80px;
	height: 2px;
	background-color: #bd8fe8;
	margin: 0 26px;
}

.title .txt-lorem {
	font-size: 14px;
	color: #bd8fe8;
	line-height: 1.5em;
	max-width: 450px;
	/* max-width: 600px; */
}


/* content */
.content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.content .figure {
	background-color: white;
	display: flex;
	box-sizing: border-box;
	height: 164px;
}

.reversed {
	flex-direction: row-reverse;
	justify-content: space-between;
}

.figure .wrapper-align {
	background: rgba(96, 56, 148, 1);
	width: 26%;
	flex-shrink: 0;
	/* overflow: hidden; */
	/* display: flex;
	justify-content: center;
	align-items: center; */
}

.figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
}

.wrapper-align .txt-align {
	position: absolute;
	color: white;
	font-size: 30px;
	z-index: 10;
	/* 원래 z-index는 position이 static이 아닌 경우에 작동하지만 이 경우는 flex라서 예외. */
}

.figure > figcaption {
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.figure figcaption p {
	color: #673399;
	font-size: 18px;
	font-weight: 700;
}

.figure li {
	font-size: 14px;
	margin-bottom: 8px;
}

.figure li:last-child {
	margin-bottom: 0;
}

.figure li::before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #bd8fe8;
	border-radius: 50%;
	margin-right: 10px;
}