/* reset */
.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

body, h1, h2, p, a {
  margin: initial;
  font-family: 'SpoqaHanSansNeo-Regular';
}

a {
  text-decoration: initial;
  color: inherit;
}

strong {
  font-weight: initial;
}

/* tyopgraphy */
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.sec-recruit_contents {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  box-sizing: border-box;
  width: max-content;
  padding: 16px;
}

.sec-recruit_contents .txt-recruit {
  width: 315px;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 14px;
  color: #121314;
}

.txt-recruit strong {
  font-family: 'SpoqaHanSansNeo-Bold';
}

.txt-about_weniv {
  width: 240px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
  color: #47494D;
}

.txt-about_weniv strong {
  font-family: 'SpoqaHanSansNeo-Bold';
}

.cont-contents_category {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contents_category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 356px;
  height: 205px;
  border-radius: 20px;
  color: white;
  box-sizing: border-box;
  padding: 20px;
}

.contents_category .txt-category {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 10px;
}

.contents_category .btn {
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
}

.contents_category.first {
  background-image: url(images/Rectangle2.png);
  background-size: contain;
}

.contents_category.second {
  background-image: url(images/Rectangle3.png);
  background-size: contain;
}

.btn::after {
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(images/right.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2px;
  vertical-align: top;
}

/* media query */
@media screen and (min-width:768px) {
  .sec-recruit_contents .txt-recruit {
    width: 612px;
    font-size: 70px;
    line-height: 88px;
    margin-bottom: 20px;
  }
  
  .txt-about_weniv {
    width: 309px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 60px;
  }
  
  .cont-contents_category {
    flex-direction: row;
    gap: 20px;
  }

  .contents_category {
    width: 344px;
    height: 198px;
  }
}

@media screen and (min-width:1440px) {
  .sec-recruit_contents {
    margin-top: 240px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'title category'
      'about_weniv category';
    column-gap: 100px;
  }
  
  .sec-recruit_contents .txt-recruit {
    width: 612px;
    font-size: 70px;
    line-height: 88px;
    margin-bottom: 20px;
    grid-area: title;
  }
  
  .txt-about_weniv {
    width: 309px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 60px;
    grid-area: about_weniv;
  }
  
  .cont-contents_category {
    flex-direction: column;
    gap: 20px;
    grid-area: category;
  }

  .contents_category {
    width: 344px;
    height: 198px;
  }
}