/* 레거시를 위함? */
@charset 'utf-8';

li {
  list-style: none;
}

ul {
  padding: initial;
  margin: initial;
}

#app {
  /* background-color: beige; */
  width: 100vw;
  height: 100vw;
  perspective: 1600px;
}

.list-item {
  /* background-color: red; */
  position: fixed;
  width: 340px;
  height: 400px;
  /* 기준점이 왼쪽 위이기 때문에 바로 가운데처럼 안 보임 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* translate를 가운데 정렬할 때 많이 사용 -> 넓이와 높이를 몰라도 가능하다는 장점 */
  /* margin: -200px 0 0 -170px; -> 넓이와 높이 값을 알 때 가능 */
  
  /* li의 자식인 img까지 원근을 적용하기 위함 */
  transform-style: preserve-3d;
  transition: 0.3s;
}

.list-item li {
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.list-item li img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.list-item li:nth-child(1) {
  transform: rotateY(0) translateZ(calc(340px*7/2/3.14));
}

.list-item li:nth-child(2) {
  transform: rotateY(calc(360deg/7)) translateZ(calc(340px*7/2/3.14));
}

.list-item li:nth-child(3) {
  transform: rotateY(calc(360deg/7*2)) translateZ(calc(340px*7/2/3.14));
}

.list-item li:nth-child(4) {
  transform: rotateY(calc(360deg/7*3)) translateZ(calc(340px*7/2/3.14));
}

.list-item li:nth-child(5) {
  transform: rotateY(calc(360deg/7*4)) translateZ(calc(340px*7/2/3.14));
}

.list-item li:nth-child(6) {
  transform: rotateY(calc(360deg/7*5)) translateZ(calc(340px*7/2/3.14));
}

.list-item li:nth-child(7) {
  transform: rotateY(calc(360deg/7*6)) translateZ(calc(340px*7/2/3.14));
}